

/* header */


/* intestazione con pattern */
header{
    
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    height: 150px;
    background-color: #4ea0ff

}

/* contenitore logo */
#logo-booleaner{
    
    height: 100%;
    width: 300px;
    
}

/* misura e posizione logo */
.logo{
    position: relative;
    top: 70px;
    left: 10px;
}

/* proprietà sezione foto e dida */

h1{
    font-size: 50px;
}

h4{
    color: #808080;

}

.autore{
    color: #20a9e5;
}

.data{
    font-size: 12px;
}

.dida{
    font-size: 12px;
}

/* proprietà paragrafo e elenco puntato */

.evidenziato{
    background-color: yellow;
}

ul{
    list-style-position: inside;
    padding-left: 0;
}