/* formattazione intera pagina */

body{
    background-color: rgb(170, 197, 223);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* formattazione header */

#logo{
    width: 33%;
    display:block;
    margin:0px auto;
    text-align:center;
       

}

/* formattazione titolo e autore */

h1{
    font-size: 35px;
    text-align: center;
}

.autore{
    font-style: oblique;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.data{
    font-style: oblique;
    font-size: 15px;
}

/* formattazione immagini tim */

.contenitore-tim{
    background-image: url(../img/pattern.png);
    text-align:center;
    background-color: rgb(223, 219, 219);
    height: 100%;

}


.img-1{
    background-image: url(../img/tim-1.jpg);
    width: 500px;
    height: 300px;
    border-radius: 10%;
    border: 5px solid rgb(255, 255, 255);
    display: inline-block;
    
}

.img-2{
    background-image: url(../img/tim-2.jpg);
    width: 500px;
    height: 300px;
    border-radius: 10%;
    border: 5px solid rgb(255, 255, 255);
    display: inline-block;
    
}

.dida{
    font-weight: bold;
    font-style: oblique;
}

/* sezione paragrafo e elenco */

.paragrafo{

    font-size: 20px;
}

li{
    font-size: 18px;
}

/* sezione tabella */

table{
    width: 100%;
    text-align: left;

}

thead{
    background-color: rgb(66, 66, 173);
    color: white;
}

tr{
    width: 25%;
}

th{
    font-size: 20px;
}
.last{
    width: 50%;
}

tbody{
    background-color: rgb(119, 159, 172);
}

.bianco{
    background-color: whitesmoke;
}

.bold{
    font-weight: bold;
}

.corsivo{
    font-style: oblique;
}

/* paragrafo finale */

.finale{

    font-style: oblique;
}

.evidenziato{
    text-decoration: underline rgb(44, 93, 165);
    font-weight: bold;

}

#interessi{
    text-align: center;

}

.monitor{
   
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: inline-block;
    border: 5px solid white;
}

.grafico{
    
    background-image: url(../img/graph.jpg);
    background-size: cover;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: inline-block;
    border: 5px solid white;
}

.id-img{
    color: white;
    font-size: 25px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 250px;
     text-align: center;
     text-decoration: underline;
}